{% extends 'layouts/layout.html' %}

{% block title %}Mis Plantas{% endblock %}

{% block content %}
<h2 class="my-4">Mis Plantas</h2>

{% if plantas %}
    <div class="row">
        {% for planta in plantas %}
        <div class="col-md-4 mb-4">
            <div class="card hover-shadow" data-bs-toggle="modal" data-bs-target="#plantModal{{ planta.id }}" style="height: 100%;">
                <img src="https://comunicaciones.simix.com.ar/comms/{{ planta.imagen }}" class="card-img-top" alt="{{ planta.nombre }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ planta.nombre }}</h5>
                    <p class="card-text">Especie: {{ planta.especie }}</p>
                    <p class="card-text">Estado: {{ planta.estado }}</p>
                    <!-- Action Buttons -->
                    <div class="mt-auto d-flex justify-content-between">
                        <a href="{% url 'valores_referencia' planta.id %}" class="btn btn-primary btn-sm">Valores de referencia</a>
                        <a href="{% url 'eliminar_planta' planta.id %}" class="btn btn-danger btn-sm">Eliminar planta</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="plantModal{{ planta.id }}" tabindex="-1" aria-labelledby="plantModalLabel{{ planta.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header custom-modal-header">  <!-- Cambié aquí -->
                            <h5 class="modal-title" id="plantModalLabel{{ planta.id }}">Detalles de {{ planta.nombre }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-3">
                                <img id="plantImage{{ planta.id }}" src="https://comunicaciones.simix.com.ar/comms/{{ planta.imagen }}" alt="Plant Image" class="img-fluid rounded" style="max-height: 300px; width: auto;">
                            </div>
                            <h5 id="plantName{{ planta.id }}" class="text-center">{{ planta.nombre }}</h5>
                            <p id="plantDescription{{ planta.id }}" class="text-muted">{{ planta.descripcion }}</p>
                            <div class="row">
                                <div class="col text-center">
                                    <i class="fas fa-thermometer-half fa-2x"></i> <!-- Ícono de temperatura -->
                                    <br>
                                    <strong>Temperatura:</strong> <span id="plantTemperature{{ planta.id }}">{{ planta.temperatura }}</span> °C
                                </div>
                                <div class="col text-center">
                                    <i class="fas fa-tint fa-2x"></i> <!-- Ícono de humedad -->
                                    <br>
                                    <strong>Humedad Tierra:</strong> <span id="plantSoilMoisture{{ planta.id }}">{{ planta.humedadTierra }}</span> %
                                </div>
                                <div class="col text-center">
                                    <i class="fas fa-water fa-2x"></i> <!-- Ícono de humedad ambiente -->
                                    <br>
                                    <strong>Humedad Ambiente:</strong> <span id="plantAmbientHumidity{{ planta.id }}">{{ planta.humedadAmbiente }}</span> %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        No tienes plantas registradas. Intenta subir una imagen y descripción para agregar una nueva planta.
    </div>
{% endif %}
{% endblock %}
