{% extends 'layouts/layout.html' %}

{% block title %}Procesando Imagen{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="text-center">
            <!-- Mostrar mensaje dependiendo del estado -->
            <h2>{{ mensaje }}</h2>

            <!-- Si la imagen se subió correctamente, mostramos opción de ir a "Mis Plantas" -->
            {% if ir_a_mis_plantas %}
                <p class="mt-3">La imagen ha sido subida con éxito.</p>
                <a href="{% url 'mis_plantas' %}" class="btn btn-success mt-3">Ver Mis Plantas</a>
            {% else %}
                <!-- Si hay un error, mostramos opción de volver a intentar -->
                <p class="text-danger mt-3">Ocurrió un error al subir la imagen.</p>
                <a href="{% url 'subir_imagen' %}" class="btn btn-danger mt-3">Volver a Intentar</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
